extends main-layout

mixin widget(name, header, pageinfo)
	.widget(class=name)
		h2(class="header")= header
		div(class="content")= pageinfo

mixin feed(name, score, date)
	.feed(name='feed').well
		h3.header= name
		.details
			p.date Last Updated #{dateNow(date)}
		.score
			if (score == "3") 
				.threestars
			if (score == "2") 
				.twostars
			if (score == "1") 
				.onestars
mixin sort()
	.sort.well
		h3 Sort By
		select.span3
			option(value='0') Score Only
			option(value='1') Distance from #{location().city}, #{location().region}
			option(value='2') Score & Distance from #{location().city}, #{location().region}

mixin distance()
	.sort.well
		h3 
			|Browsing Radius 
			select.span3.browse
				option(value='25') 25 Miles
				option(value='50') 50 Miles
				option(value='100', selected='selected') 100 Miles
				option(value='150') 150 Miles
				option(value='300') 300 Miles
				option(value='500') 500 Miles
				option(value='1000') 1000 Miles
		
block content
	#holder
	#kitecasterapp
		.title
			h1= title
		include includes/navigation
		.content
			p 
				Your Location: 
					span.location_description Loading.. 
				a(href='#').update_location (Not your location? Update It!)
			p
				h3
					| Showing you spots within <span class='radius_distance'>100</span> miles of your location:
			mixin distance
			div.row-fluid.spot_container
				h3 Loading ...

block script_include
	script(src='/js/lib/handlebars.js', type='text/javaScript')
	script(type='text/javascript')
		window._$kite_url = '#{kite_url}';
		window._$spot_url = '#{kite_url}';
		window._$user_id = '#{user_id}';
		window._$session_id = '#{session_id}';
		window._$local['discover_nearby'] = true;
		window._$spot_id = false;

block scripts
	script(type='text/x-handlebars-template', id='spotweather-template')
		p
			img(src='{{icon_url}}')
		p
			{{details}}
		{{#if avghumidity}}
		h5 Avg Humidity: {{avghumidity}} %
		{{/if}}
		{{#if maxhumidity}}
		h5 Max Humidity: {{maxhumidity}} %
		{{/if}}
		{{#if maxwind}}
		h5 Max Wind: {{maxwind.degrees}} {{maxwind.dir}} {{maxwind.kph}} kph / {{maxwind.mph}} mph	
		{{/if}}

	script(type='text/x-handlebars-template', id='kitespot-template')
		.feed.well
			h3.header
				|We found {{count}} results within your selected radius.
		{{#each results}}
		.feed(name='feed', id='spot-{{ spotId }}').well
			{{#ifCond belongsTo '#{session_id}'}}
			a.btn.btn-info(href='/main/spots/edit/{{spotId}}') Modify Spot
			&nbsp;
			{{/ifCond}}
			a.btn.btn-warning(action='/subscribe/spot/{{spotId}}', data-attr='{{spotId}}', method='PUT').subscribe Subscribe
			h3.header
				a(href='/main/spots/view/{{ spotId }}') {{ name }}
			h3.latlon
				| Lat: {{location.latitude}}, Long: {{location.longitude}}
			{{#if cover_image}}
			p
				img(src='{{ cover_image }}').multiple-borders.preview_image_main
			{{/if}}
			.active_weather
				h4 Loading Forecast...
			.score
				.onestars
		{{ else }}
		.feed(name='feed').well
			h3 We were unable to find and spots within this location, try expanding your search radius! 
		{{/each}}