extends main-layout

mixin widget(name, header, pageinfo)
	.widget(class=name)
		h2(class="header")= header
		div(class="content")= pageinfo

block content
	#kitecasterapp
		.title
			h1= title
		include includes/navigation
		.content
			if (body.status)
				div
					h3.well.btn-success= body.status
			div.row-fluid.message.hidden.well.btn-success
			div.row-fluid.spot_container
				h3 Loading...

block script_include
	script(src='/js/lib/handlebars.js', type='text/javaScript')
	script(type='text/javascript')
		window._$spot_url = '#{spot_url}';
		window._$spot_id  = '#{spot_id}';

block scripts
	script(type='text/x-handlebars-template', id='spotedit-template')
		form(action='/spot/{{ spotId }}', id='saveSpot', method='post', enctype="multipart/form-data").form-horizontal.ajax-send
			input(type='hidden', name='spotId', id='spotId', value='{{ spotId }}')
			div.well
				h3 Modify Spot 
				div.control-group
					div.controls
						div.warning_msg
				div.control-group
					label.control-label(for='input_delete') Remove
					div.controls
						a.btn.btn-danger(data-attr='{{spotId}}', action='/spot/{{spotId}}').removeSpot Delete Spot
				div.control-group
					label.control-label(for='input_location') Location Name
					div.controls
						input(name='name', id='input_location', value='{{name}}').span11.search-query {{name}}
				div.control-group
					label.control-label(for='input_location') Location
					div.controls
						input(type='hidden', name='location', value='{{location.latitude}},{{location.longitude}}')
						input(type='hidden', name='lat', value='{{location.latitude}}')
						input(type='hidden', name='lon', value='{{location.longitude}}')
						{{location.latitude}}, {{location.longitude}}
						p
						<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{location.latitude}},+{{location.longitude}}&amp;aq=&amp;sll={{location.latitude}},{{location.longitude}}&amp;sspn=0.381404,0.637207&amp;t=h&amp;ie=UTF8&amp;z=14&amp;ll={{location.latitude}},{{location.longitude}}&amp;output=embed"></iframe><br /><small><a href="//maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={{location.latitude}},+{{location.longitude}}&amp;aq=&amp;sll=27.982881,-82.454453&amp;sspn=0.381404,0.637207&amp;t=h&amp;ie=UTF8&amp;z=14&amp;ll=37.5991,-122.5158" style="color:#0000FF;text-align:left">View Larger Map</a></small>
				div.control-group
					label.control-label(for='input_description') Brief Description
					div.controls
						textarea(name='description', id='input_description', rows=3).span11 {{description}}
				div.control-group
					label.control-label Wind Directions
					div.controls
						div.btn-group(data-toggle='buttons-checkbox')
							input(type='button', value='N', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='NE', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='E', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='WE', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='W', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='SW', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='S', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='SE', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
				div.control-group
					div.controls
						input(type='submit', id='save-submit', value='Save Profile').btn.btn-success
			script(type='text/javascript')
				window._$winds = [];
				{{#each wind_directions}}
					window._$winds.push('{{this}}');
				{{/each}}