extends main-layout

block content
	.container-fluid.fixed-top.stretched-topbar.topbar
		.row-fluid
			.span12
				.row-fluid
					.span1.hidden-phone
					.span5.title-location
						h2.head_title.pull-left
							=title
						include includes/navigation3
					.span5.pull-right.nav-location.visible-desktop
						include includes/navigation2
					.span1.hidden-phone
	.container-fluid.middlebar.hidden-desktop
		.row-fluid
			.span12
				include includes/navigation_mobi
		.row-fluid
			.span12.top_spacer.hidden-phone
	.container-fluid.middlebar.visible-desktop
		.row-fluid
			.span12.top_spacer
	.container-fluid.bottom-bar
		.row-fluid
			.span1.visible-desktop
			.span10
				.row-fluid
					.span4
						.profile
							.header
								.image.profile_avatar(style="background-image: url('#{userdata.profile_image}')")
							.body
								.name
									h3 #{userdata.name} #{userdata.lastname}
								.info
									ul
										li
											i.icon-location-arrow.icon-correct
											span.location_description Loading...
					.span8
						.content_feed
							.header
								| My Favorite Spots
							.body
								#holder
								ul.spot_container
									li
										.spot_info
											i.icon-spinner.icon-spin.icon-large 
											|   Loading...
	.container-fluid.footer
		.row-fluid
			.span12.footer-bar
				include includes/footer

block script_include
	script(src='/js/lib/handlebars.js', type='text/javaScript')
	script(type='text/javascript')
		window._$kite_url = '#{kite_url}';
		window._$spot_url = '#{kite_url}';
		window._$user_id = '#{user_id}';
		window._$session_id = '#{session_id}';
		window._$spot_id = false;
	script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=#{google_api_key}&sensor=false')
block head_include
	script(language='JavaScript', src='/js/lib/jquery.ui.min.js')
	script(language='JavaScript', src='/js/app/jquery.scroller.js')

block scripts
	script(type='text/x-handlebars-template', id='spots-error-template')
		.well.alert
			h3 Oops, it seems there was an error loading this section. Please sit tight while we try and reload the section in a few moments.
			div
				|Attempting to reconnect in 
				span.countdown

	script(type='text/x-handlebars-template', id='spotweather-template')
		h4 Forecast
		.current
			h5.current_header
				| Currently:
			.current_weather
				i(class='{{ currently.icon }}')
				{{ currently.summary }} {{ currently.temperature }}&deg;F with wind speeds at {{ currently.windSpeed }} MPH.
				{{ hourly.summary }}
		.daily
			h5.daily_header
				| For the Day: 
			.daily_weather
				{{ daily.summary }}
		p
			{{details}}

	script(type='text/x-handlebars-template', id='kitespot-template')
		{{#each results}}
		li(name='feed', id='spot-{{ spotId }}').feed
			h3
				a(href='/main/spots/view/{{ spotId }}') {{ name }}
			{{#if cover_image}}
			p
				img(src='{{ cover_image }}').multiple-borders.preview_image_main
			{{/if}}
			.active_weather
				h4 Loading Forecast...
			h4.distance
				|You are within approximately {{distanceFrom}} from this spot.
			div(id='kitegraph-{{ spotId }}-loader')
				i.icon-spinner.icon-spin.icon-large 
				|   Loading...
			div(id='kitegraph-{{ spotId }}').kitegraph
		{{ else }}
		li.feed(name='feed')
			p
				| You aren't watching to any spots! 
			a(href='/main/spots') Check out some spots in your area.
		{{/each}}