extends main-layout

mixin widget(name, header, pageinfo)
	.widget(class=name)
		h2(class="header")= header
		div(class="content")= pageinfo

mixin feed(name, score, date)
	.feed(name='feed').well
		h3.header= name
		.details
			p.date Last Updated #{dateNow(date)}
		.score
			if (score == "3") 
				.threestars
			if (score == "2") 
				.twostars
			if (score == "1") 
				.onestars
mixin sort()
	.sort.well
		h3 Sort By
		select.span3
			option(value='0') Score Only
			option(value='1') Distance from #{location().city}, #{location().region}
			option(value='2') Score & Distance from #{location().city}, #{location().region}
		
block content
	#kitecasterapp
		.title
			h1= title
		include includes/navigation
		.content
			p Your Location: #{location().city}, #{location().region}
			mixin sort
			div.row-fluid.spot_container
				h3 Loading ...

block script_include
	script(src='/js/lib/handlebars.js', type='text/javaScript')
	script(type='text/javascript')
		window._$kite_url = '#{kite_url}';
		window._$user_id = '#{user_id}';

block scripts
	script(type='text/x-handlebars-template', id='kitespot-template')
		{{#each results}}
		.feed(name='feed').well
			h3.heade {{ name }}
			.details
				p.date Last Updated N/A
			.score
				.onestars
		{{ else }}
		.feed(name='feed').well
			h3 You arent subscribed to any spots! 
			a(href='/main/spots') Check out some spots in your area!
		{{/each}}