extends main-layout

block content
	.container-fluid.fixed-top.stretched-topbar.topbar
		.row-fluid
			.span12
				.row-fluid
					.span1.hidden-phone
					.span5
						h2.head_title 
							=title
					.span5.pull-right.nav-location
						include includes/navigation2
					.span1.hidden-phone
	.container.middlebar
		.row
			.span12.top_spacer.hidden-phone
	.container-fluid.bottom-bar
		.row-fluid
			.span1
			.span10
				.row-fluid
					.span4
						.profile
							.header
								.image.profile_avatar(style="background-image: url('#{profile_image}')")
							.body
								.name
									h3 #{userdata.name} #{userdata.lastname}
								.info
									ul
										li
											i.icon-location-arrow.icon-correct
											span.location_description Loading...
					.span8
						.content_feed
							.header
								| My Favorite Spots
							.body
								#holder
								ul.spot_container
									li
										.spot_info
											i.icon-spinner.icon-spin.icon-large 
											|   Loading...
	.container-fluid.footer
		.row-fluid
			.span12.footer-bar
				include includes/footer

block script_include
	script(src='/js/lib/handlebars.js', type='text/javaScript')
	script(type='text/javascript')
		window._$kite_url = '#{kite_url}';
		window._$spot_url = '#{kite_url}';
		window._$user_id = '#{user_id}';
		window._$session_id = '#{session_id}';
		window._$spot_id = false;

block scripts
	script(type='text/x-handlebars-template', id='spots-error-template')
		.well.alert
			h3 Oops, it seems there was an error loading this section. Please sit tight while we try and reload the section in a few moments.
			div
				|Attempting to reconnect in 
				span.countdown

	script(type='text/x-handlebars-template', id='spotweather-template')
		p
			img(src='{{icon_url}}')
		p
			{{details}}
		{{#if avghumidity}}
		h5 Avg Humidity: {{avghumidity}} %
		{{/if}}
		{{#if maxhumidity}}
		h5 Max Humidity: {{maxhumidity}} %
		{{/if}}
		{{#if maxwind}}
		h5 Max Wind: {{maxwind.degrees}} {{maxwind.dir}} {{maxwind.kph}} kph / {{maxwind.mph}} mph	
		{{/if}}

	script(type='text/x-handlebars-template', id='kitespot-template')
		{{#each results}}
		li(name='feed', id='spot-{{ spotId }}').feed
			h3
				a(href='/main/spots/view/{{ spotId }}') {{ name }}
			{{#if cover_image}}
			p
				img(src='{{ cover_image }}').multiple-borders.preview_image_main
			{{/if}}
			.active_weather
				h4 Loading Forecast...
			h4.distance
				|You are within approximately {{distanceFrom}} from this spot.
			.score
				.onestars
			div(id='kitegraph-{{ spotId }}-loader')
				i.icon-spinner.icon-spin.icon-large 
				|   Loading...
			div(id='kitegraph-{{ spotId }}').kitegraph
		{{ else }}
		li.feed(name='feed')
			p
				| You aren't subscribed to any spots! 
			a(href='/main/spots') Check out some spots in your area.
		{{/each}}