extends main-layout

block content
	.container-fluid.fixed-top.stretched-topbar.topbar
		.row-fluid
			.span12
				.row-fluid
					.span1.hidden-phone
					.span5.title-location
						h2.head_title.pull-left
							=title
						include includes/navigation3
					.span5.pull-right.nav-location.visible-desktop
						include includes/navigation2
					.span1.hidden-phone
	.container-fluid.middlebar.hidden-desktop
		.row-fluid
			.span12
				include includes/navigation_mobi
		.row-fluid
			.span12.top_spacer.hidden-phone
	.container-fluid.middlebar.visible-desktop
		.row-fluid
			.span12.top_spacer
	.container-fluid.bottom-bar
		.row-fluid
			.span1.visible-desktop
			.span10
				.row-fluid
					.span4
						.profile
							.header
								.image.profile_avatar(style="background-image: url('#{userdata.profile_image}')")
							.body
								.name
									h3 #{userdata.name} #{userdata.lastname}
								.info
									ul
										li
											i.icon-location-arrow.icon-correct
											span.location_description Loading...
						.forecast_feed.hidden
							.header
								.name
									| Daily Forecast
							.body
								.info#forecast-data
									.loader
										i.icon-spinner.icon-spin.icon-large 
										|   Loading...
						.forecast_feed.hidden
							.header
								.name
									| Extended Forecast
							.body
								.info#forecast-week-data
									.loader
										i.icon-spinner.icon-spin.icon-large 
										|   Loading...
					.span8
						.content_feed
							.header
								| Favorites
							.body
								#holder
								ul.spot_container
									li
										.spot_info
											i.icon-spinner.icon-spin.icon-large 
											|   Loading...
	.container-fluid.footer
		.row-fluid
			.span12.footer-bar
				include includes/footer

block script_include
	script(src='/js/lib/handlebars.js', type='text/javaScript')
	script(type='text/javascript')
		window._$kite_url = '#{kite_url}';
		window._$spot_url = '#{kite_url}';
		window._$user_id = '#{user_id}';
		window._$session_id = '#{session_id}';
		window._$spot_id = false;
		window._private_beta = '#{private_beta}';
		if (#{first_login} != false) {
			jQuery(document).ready(function(){
				_$local.upload_location();
			});
		}
	script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=#{google_api_key}&sensor=false')
block head_include
	script(language='JavaScript', src='/js/lib/moment.min.js')
	script(language='JavaScript', src='/js/lib/jquery.ui.min.js')
	script(language='JavaScript', src='/js/app/jquery.scroller.js')

block scripts
	script(type='text/x-handlebars-template', id='forecast-window')
		{{#each this.today}}
		.well.forecast_item
			ul
				{{#forecastItem this}}{{/forecastItem}}
		{{else}}
		.info
			h4 No forecasts were found.
		{{/each}}
	script(type='text/x-handlebars-template', id='forecast-week-window')
		{{#consoleDump this}}{{/consoleDump}}

		{{#each this}}
		.well.forecast_item
			ul
				{{#forecastWeekItem this}}{{/forecastWeekItem}}
		{{else}}
		.info
			h4 No forecasts were found.
		{{/each}}

	script(type='text/x-handlebars-template', id='spots-error-template')
		.well.alert
			h3 Oops, it seems there was an error loading this section. Please sit tight while we try and reload the section in a few moments.
			div
				|Attempting to reconnect in 
				span.countdown

	script(type='text/x-handlebars-template', id='spotweather-template')
		.current
			h5.current_header
				| Currently:
			.current_weather
				i(class='{{ currently.icon }}')
				{{ currently.summary }} {{ currently.temperature }}&deg;F with wind speeds at {{ currently.windSpeed }} MPH.
				{{ hourly.summary }}
		.daily
			h5.daily_header
				| Outlook: 
			.daily_weather
				{{ daily.summary }}
		p
			{{details}}

	script(type='text/x-handlebars-template', id='kitespot-template')
		{{#each results}}
		li(name='feed', id='spot-{{ spotId }}').feed
			.row-fluid
				.span9
					h3
						a(href='/main/spots/view/{{ spotId }}') {{ name }}
				.span2.pull-right
					.span12.hidden-phone
						h3
							.span3
								span
									i.icon-repeat.hidden-roller.reload-feed(data-feed-id='{{ spotId }}')
							.span3.hidden-desktop
							.span3
								span.btn-group
									.btn-hidden.btn.dropdown-toggle(data-toggle='dropdown', href='#')
										.caret
									ul.dropdown-menu(role='menu', aria-labelledby='dropdownMenu')
										li
											a(href='#', action='/subscribe/spot/{{ spotId }}', data-attr='{{ spotId }}', method='DELETE', tabindex='-1').subscribe.remove-feed Stop Watching
			.active_weather
				h4 Loading Forecast...
			div(id='kitegraph-{{ spotId }}').kitegraph-image.scroll-pane
				img(src='/media/raw/spot-{{ spotId }}-auto.png').graph-image
			.span12.visible-phone
				br
				.btn-group
					.btn.reload-feed(data-feed-id='{{ spotId }}') Reload Graph
				&nbsp;
				a(href='#', action='/subscribe/spot/{{ spotId }}', data-attr='{{ spotId }}', method='DELETE', tabindex='-1').btn.btn-warning.pull-right.subscribe.remove-feed Stop Watching
		{{ else }}
		li.feed(name='feed')
			p
				| You aren't watching any spots! 
			a(href='/main/spots') Check out some spots in your area.
		{{/each}}
	script(type='text/x-handlebars-template', id='kitespot-feed-default')
		li.feed(name='feed')
			p
				| You aren't watching any spots! 
			a(href='/main/spots') Check out some spots in your area.