extends main-layout

mixin widget(name, header, pageinfo)
	.widget(class=name)
		h2(class="header")= header
		div(class="content")= pageinfo

mixin feed(name, score, date)
	.feed(name='feed').well
		h3.header= name
		.details
			p.date Last Updated #{dateNow(date)}
		.score
			if (score == "3") 
				.threestars
			if (score == "2") 
				.twostars
			if (score == "1") 
				.onestars
mixin sort()
	.sort.well
		h3 Sort By
		select.span3
			option(value='0') Score Only
			option(value='1') Distance from #{location().city}, #{location().region}
			option(value='2') Score & Distance from #{location().city}, #{location().region}
		
block content
	#kitecasterapp
		.title
			h1= title
		include includes/navigation
		.content
			p Your Location: #{location().city}, #{location().region}
			mixin sort
			div.row-fluid.spot_container
				h3 Loading ...

block script_include
	script(src='/js/lib/handlebars.js', type='text/javaScript')
	script(type='text/javascript')
		window._$kite_url = '#{kite_url}';
		window._$spot_url = '#{kite_url}';
		window._$user_id = '#{user_id}';
		window._$spot_id = false;

block scripts
	script(type='text/x-handlebars-template', id='spotweather-template')
		p
			img(src='{{icon_url}}')
		p
			{{details}}
		{{#if avghumidity}}
		h5 Avg Humidity: {{avghumidity}} %
		{{/if}}
		{{#if maxhumidity}}
		h5 Max Humidity: {{maxhumidity}} %
		{{/if}}
		{{#if maxwind}}
		h5 Max Wind: {{maxwind.degrees}} {{maxwind.dir}} {{maxwind.kph}} kph / {{maxwind.mph}} mph	
		{{/if}}

	script(type='text/x-handlebars-template', id='kitespot-template')
		{{#each results}}
		.feed(name='feed', id='spot-{{ spotId }}').well
			h3.header 
				a(href='/main/spots/view/{{ spotId }}') {{ name }}
			.active_weather
				h4 Loading Forecast...
			.score
				.onestars
		{{ else }}
		.feed(name='feed').well
			h3 You arent subscribed to any spots! 
			a(href='/main/spots') Check out some spots in your area!
		{{/each}}