extends main-layout

mixin widget(name, header, pageinfo)
	.widget(class=name)
		h2(class="header")= header
		div(class="content")= pageinfo

block content
	#kitecasterapp
		include includes/navigation
		.content
			if (body.status)
				div
					h3.well.btn-success= body.status
			div.row-fluid.message.hidden.well.btn-success
			div.row-fluid
				form(method='PUT', data-redirect='/main/spots', action='/spot', enctype="multipart/form-data").form-horizontal.ajax-send
					div.well
						if (data && data.records)
							h3 Modify Spot
						else
							h3 Add a new spot
						div.control-group
							label.control-label(for='input_location') Location Name
							div.controls
								p.span10
									input(name='name', id='input_location', value='Loading...').span12.search-query
								p.span0
									.btn.update_spot_location
										i.icon-repeat
										| &nbsp;
										span Update Location
						div.control-group
							label.control-label(for='input_location') Location
							div.controls
								input(type='hidden', name='belongsTo', value='#{session_id}')
								input(type='hidden', name='location', value='')
								input(type='hidden', name='lat', id='lat', value='')
								input(type='hidden', name='lon', id='lon', value='')
								p.latlon Loading...
								p
								div#map-canvas(style='height: 300px;')
						div.control-group
							label.control-lable Upload Cover Image
							div.controls
								div(id='bootstrapped-fine-uploader')
								#success-image
						div.control-group
							label.control-label(for='input_description') Brief Description
							div.controls
								if (data.records && data.records.description)
									textarea(name='description', id='input_description', rows=3).span11= data.records.description
								else
									textarea(name='description', id='input_description', rows=3).span11
						div.control-group(class='hidden-desktop hidden-tablet')
							label.control-label Wind Directions
							div.controls
								select.selectpicker(multiple, data-style='btn-primary')
									option.wind_direction| N
									option.wind_direction| NE
									option.wind_direction| E
									option.wind_direction| SE
									option.wind_direction| S
									option.wind_direction| SW
									option.wind_direction| W
									option.wind_direction| NW
						div.control-group(class='hidden-phone')
							label.control-label Wind Directions
							div.controls
								div.btn-group(data-toggle='buttons-checkbox')
									input(type='button', value='N', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
									input(type='button', value='NE', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
									input(type='button', value='E', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
									input(type='button', value='SE', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
									input(type='button', value='S', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
									input(type='button', value='SW', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
									input(type='button', value='W', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
									input(type='button', value='NW', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
						div.control-group
							div.controls
								input(type='submit', value='Save Profile').btn.btn-success

block head_include
	link(rel='stylesheet', href='/css/uploader.css')
	link(rel='stylesheet', href='/css/bootstrap.select.min.css')

block script_include
	script(src='/js/lib/handlebars.js', type='text/javaScript')
	script(type='text/javascript')
		window._$spot_url = '#{spot_url}';
		window._$kite_url = '#{kite_url}';
		window._$spot_id  = '#{spot_id}';
		window._$session_id = '#{session_id}';
	script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=#{google_api_key}&sensor=true')
	script(type='text/javascript', src='/js/lib/uploader.js')
	script(type='text/javascript', src='/js/lib/uploader.xss.js')
	script(type='text/javascript', src='/js/lib/jquery.uploader.min.js')
	script(type='text/javascript', src='/js/lib/bootstrap.select.min.js')
	script(type='text/javascript')
		function createUploader() {
			var uploader = new qq.FineUploader({
				element: document.getElementById('bootstrapped-fine-uploader'),
				request: {
					endpoint: '/media'
				},
				text: {
					uploadButton: '<div><i class="icon-upload icon-white"></i> Upload a Cover Photo</div>'
				},
				template: '<div class="qq-uploader span12">' +
					'<pre class="qq-upload-drop-area span12"><span>{dragZoneText}</span></pre>' +
					'<div class="qq-upload-button btn btn-success" style="width: auto;">{uploadButtonText}</div>' +
					'<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
					'<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
					'</div>',
				callbacks: {
					onComplete: function(id, fileName, responseJson) {
						if (responseJson.success) {
							$("#success-image").html("<img src='" + responseJson.url + "' height='200' class='previewCover' /><input type='hidden' name='cover_image' id='cover_image' value='" + responseJson.url + "' />");
						}
					}
				},
				classes: {
					success: 'alert alert-success',
					fail: 'alert alert-error'
				}
			});
		}
		window.onload = createUploader;
	script(type='text/javascript')
		jQuery(document).ready(function(){
			$('.selectpicker').selectpicker();
		});	

block scripts
	script(type='text/x-handlebars-template', id='spotnew-template')
		form(action='/spot', id='saveSpot', method='post', enctype="multipart/form-data").form-horizontal.ajax-send
			input(type='hidden', name='spotId', id='spotId', value='0')
			div.well
				h3 Modify Spot
				div.control-group
					label.control-label(for='input_location') Location Name
					div.controls
						input(name='name', id='input_location', value='{{name}}').span11.search-query {{name}}
				div.control-group
					label.control-label(for='input_location') Location
					div.controls
						input(type='hidden', name='location', value='{{location.latitude}},{{location.longitude}}')
						input(type='hidden', name='lat', value='{{location.latitude}}')
						input(type='hidden', name='lon', value='{{location.longitude}}')
						{{location.latitude}}, {{location.longitude}}
						p
						<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q={{location.latitude}},+{{location.longitude}}&amp;aq=&amp;sll={{location.latitude}},{{location.longitude}}&amp;sspn=0.381404,0.637207&amp;t=h&amp;ie=UTF8&amp;z=14&amp;ll={{location.latitude}},{{location.longitude}}&amp;output=embed"></iframe><br /><small><a href="//maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={{location.latitude}},+{{location.longitude}}&amp;aq=&amp;sll=27.982881,-82.454453&amp;sspn=0.381404,0.637207&amp;t=h&amp;ie=UTF8&amp;z=14&amp;ll=37.5991,-122.5158" style="color:#0000FF;text-align:left">View Larger Map</a></small>
				div.control-group
					label.control-label(for='input_description') Brief Description
					div.controls
						textarea(name='description', id='input_description', rows=3).span11 {{description}}
				div.control-group
					label.control-label Wind Directions
					div.controls
						div.btn-group(data-toggle='buttons-checkbox')
							input(type='button', value='N', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='NE', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='E', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='WE', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='W', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='SW', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='S', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
							input(type='button', value='SE', name='wind_directions', id='wind_directions').btn.btn-primary.wind_direction
				div.control-group
					div.controls
						input(type='submit', id='save-submit', value='Save Profile').btn.btn-success
			script(type='text/javascript')
				window._$winds = [];
				{{#each wind_directions}}
					window._$winds.push('{{this}}');
				{{/each}}