extends main-layout

mixin widget(name, header, pageinfo)
	.widget(class=name)
		h2(class="header")= header
		div(class="content")= pageinfo

block head_include
	link(rel='stylesheet', href='/css/bootstrap.select.min.css')

block script_include
	script(type='text/javaScript', src='/js/lib/jquery.validate.min.js')
	script(type='text/javascript', src='/js/lib/bootstrap.select.min.js')
	script(type='text/javascript')
		jQuery(document).ready(function(){
			$('.selectpicker').selectpicker();
		});

block content
	#kitecasterapp
		.title
			h1= title
		include includes/navigation
		.content
			if (body.status)
				div
					h3.well.btn-success= body.status
			div.row-fluid.message.hidden.well.btn-success
			each info in body.content
				h2= info
			each widget in body.widgets
				mixin widget(widget.name, widget.header, widget.content, widget.filename)
			form(action='/user/profile/#{session_id}', id='profile-form', method='PUT').form-horizontal.ajax-send
				div.well
					div.control-group
						label.control-label(for='input_email') Email Address
						div.controls
							input(name='email', id='input_email', value=data.profile_data.email)
					div.control-group
						label.control-label(for='input_firstname') First Name
						div.controls
							if (data.profile_data) 
								input(name='name', id='input_firstname', placeholder="Enter your first name", value=data.profile_data.name)
							else
								input(name='name', id='input_firstname', placeholder="Enter your first name", value="")
					div.control-group
						label.control-label(for='input_lastname') Last Name
						div.controls
							if (data.profile_data)
								input(name='lastname', id='input_lastname', placeholder='Enter your Last name', value=data.profile_data.lastname)
							else
								input(name='lastname', id='input_lastname', placeholder='Enter your Last name', value="")
					div.control-group
						label.control-label(for='input_weight') Weight (lbs)
						div.controls
							if (data.profile_data)
								input(name='weight', id='input_weight', placeholder='Enter your Weight', value=data.profile_data.weight).span2
							else
								input(name='weight', id='input_weight', placeholder='Enter your Weight', value="").span2							
					div.control-group
						label.control-label(for='input_weight') Kite Size
						div.controls
							select(data-style='btn-primary', name='kite_size').selectpicker
								each item in kites
									option(value=item.value, selected=item.value == data.profile_data.kite_size) #{item.label}
					div.control-group
						label.control-label(for='input_weight') Distance Willing to Travel for Wind
						div.controls
							div.distance
								input(type='hidden', name='travel_distance', id='travel_distance', value=data.profile_data.travel_distance)
								br
								div.echo
								p.measurement #{data.profile_data.travel_distance} Miles
					div.control-group
						label.control-label Gender
						div.controls
							div.btn-group(data-toggle='buttons-radio')
								if (data.profile_data)
									if (data.profile_data.gender == "male")
										input(type='button', value='Male', name='input_gender', id='male').btn.btn-primary.active Male
										input(type='button', value='Female', name='input_gender', id='female').btn.btn-primary Female
									if (data.profile_data.gender == "female")
										input(type='button', value='Male', name='input_gender', id='male').btn.btn-primary Male
										input(type='button', value='Female', name='input_gender', id='female').btn.btn-primary.active Female
									if (!data.profile_data.gender)
										input(type='button', value='Male', name='input_gender', id='male').btn.btn-primary Male
										input(type='button', value='Female', name='input_gender', id='female').btn.btn-primary Female
									input(type='hidden', name='gender', id='gender', value=data.profile_data.gender)
								else
									input(type='button', value='Male', name='input_gender', id='male').btn.btn-primary Male
									input(type='button', value='Female', name='input_gender', id='female').btn.btn-primary Female
									input(type='hidden', name='gender', id='gender', value="")
					div.control-group
						label.control-label Unit Preference
						div.controls
							div.btn-group(data-toggle='buttons-radio')
								if (data.profile_data && data.profile_data.unit_preference)
									if (data.profile_data.unit_preference == "kitescore")
										input(type='button', value='kitescore', name='input_kitescore', id='kitescore').btn.btn-primary.active 
										input(type='button', value='windspeed', name='input_windspeed', id='windspeed').btn.btn-primary 
										input(type='button', value='speedunits', name='input_speedunits', id='speedunits').btn.btn-primary 
									if (data.profile_data.unit_preference == "windspeed")
										input(type='button', value='kitescore', name='input_kitescore', id='kitescore').btn.btn-primary
										input(type='button', value='windspeed', name='input_windspeed', id='windspeed').btn.btn-primary.active 
										input(type='button', value='speedunits', name='input_speedunits', id='speedunits').btn.btn-primary 
									if (data.profile_data.unit_preference == "speedunits")
										input(type='button', value='kitescore', name='input_kitescore', id='kitescore').btn.btn-primary
										input(type='button', value='windspeed', name='input_windspeed', id='windspeed').btn.btn-primary 
										input(type='button', value='speedunits', name='input_speedunits', id='speedunits').btn.btn-primary.active
									input(type='hidden', name='unit_preference', id='unit_preference', value=data.profile_data.unit_preference)
								else
									input(type='button', value='kitescore', name='input_kitescore', id='kitescore').btn.btn-primary.active
									input(type='button', value='windspeed', name='input_windspeed', id='windspeed').btn.btn-primary 
									input(type='button', value='speedunits', name='input_speedunits', id='speedunits').btn.btn-primary
									input(type='hidden', name='unit_preference', id='unit_preference', value='kitescore')

					div.control-group
						div.controls
							input(type='submit', value='Save Profile').btn.btn-success