extends main-layout

mixin widget(name, header, pageinfo)
	.widget(class=name)
		h2(class="header")= header
		div(class="content")= pageinfo
		
mixin spot_widget(data)
	.feed(name='feed').well
		a.btn.btn-info(href='/main/spots/edit/' + data.objectId) Modify Spot
		&nbsp;
		a.btn.btn-warning(href='/main/spots/subscribe/' + data.objectId) Subscribe
		h3.header= data.name
		.warning
			h5 Warnings: 
				= data.warning
		.condition
			h5 Condition: 
				= data.condition
		.description
			p= data.description
		.distance
			h5 Distance from you: 0 Miles
		.score
			if (data.rating == "awesome") 
				.threestars
			if (data.rating == "solid") 
				.twostars
			if (data.rating == "good") 
				.onestars		
		p
		.details
			p.date Last Updated #{dateNow(data.updatedAt)}

block content
	#kitecasterapp
		.title
			h1= title
		include includes/navigation
		.content
			if (body.status)
				div
					h3.well.btn-success= body.status
			if (data)
				a.btn.btn-primary(href='/main/spots/new') Modify Spot
			else
				a.btn.btn-primary(href='/main/spots/new') Add New Spot
			p
			if (data.spot_list)
				each spot in data.spot_list
					mixin spot_widget(spot)
			else 
				div.well
					p Oops, we don't have any spots yet. Add one now!