extends main-layout

mixin widget(name, header, pageinfo)
	.widget(class=name)
		h2(class="header")= header
		div(class="content")= pageinfo

block content
	#kitecasterapp
		.title
			h1= title
		include includes/navigation
		.content
			if (body.status)
				div
					h3.well.btn-success= body.status
			a.btn.btn-primary(href='/main/spots/new') Add New Spot