extends main-layout

mixin widget(name, header, pageinfo)
	.widget(class=name)
		h2(class="header")= header
		div(class="content")= pageinfo
		
mixin spot_widget(data)
	.feed(name='feed').well
		a.btn.btn-info(href='/main/spots/edit/' + data.objectId) Modify Spot
		&nbsp;
		a.btn.btn-warning(href='/main/spots/subscribe/' + data.objectId) Subscribe
		h3.header= data.name
		.warning
			h5 Warnings: 
				= data.warning
		.condition
			h5 Condition: 
				= data.condition
		.description
			p= data.description
		.distance
			h5 Distance from you: 0 Miles
		.score
			if (data.rating == "awesome") 
				.threestars
			if (data.rating == "solid") 
				.twostars
			if (data.rating == "good") 
				.onestars		
		p
		.details
			p.date Last Updated #{dateNow(data.updatedAt)}

block content
	#kitecasterapp
		.title
			h1= title
		include includes/navigation
		.content
			if (body.status)
				div
					h3.well.btn-success= body.status
			a.btn.btn-primary(href='/main/spots/new') Add New Spot
			p
			div.spot_container
				h3 Loading...

block script_include
	script(src='/js/lib/handlebars.js', type='text/javaScript')
	script(type='text/javascript')
		window._$spot_url = '#{spot_url}';
		window._$userId = '#{user_id}';

block scripts
	script(type='text/x-handlebars-template', id='spots-template')
		{{#each results}}
		.feed.well
			a.btn.btn-info(href='/main/spots/edit/{{spotId}}') Modify Spot
			&nbsp;
			a.btn.btn-warning(action='/spot/subscribe/{{spotId}}', method='PUT').subscribe Subscribe
			h3.header {{ name }}
			.wind_directions
				h5 Wind: 
					{{ wind_directions }}
			.geo_lat
				h5 Geo Location: 
					{{ location.latitude }}, {{ location.longitude }}
			.description
				p {{ description }}
			.distance
				h5 Distance from you: 0 Miles
			.score
				{{#ifCond rating "awesome"}}
				div.threestars
				{{/ifCond}}
				{{#ifCond rating "solid"}}
				div.twostars
				{{/ifCond}}
				{{#ifCond rating "good"}}
				div.onestars
				{{/ifCond}}
			p
			.details
				p.date Last Updated Empty
		{{/each}}
