extends main-layout

mixin widget(name, header, pageinfo)
	.widget(class=name)
		h2(class="header")= header
		div(class="content")= pageinfo

block content
	.container-fluid.fixed-top.stretched-topbar.topbar
		.row-fluid
			.span12
				.row-fluid
					.span1.hidden-phone
					.span5.title-location
						h2.head_title.pull-left
							=title
						include includes/navigation3
					.span5.pull-right.nav-location.visible-desktop
						include includes/navigation2
					.span1.hidden-phone
	.container-fluid.middlebar.hidden-desktop
		.row-fluid
			.span12
				include includes/navigation_mobi
		.row-fluid
			.span12.top_spacer.hidden-phone
	.container-fluid.middlebar.visible-desktop
		.row-fluid
			.span12.top_spacer
	.container-fluid.bottom-bar
		.row-fluid
			.span1
			.span10
				.row-fluid
					.span4
						.profile
							.header
								.image.profile_avatar(style="background-image: url('#{userdata.profile_image}')")
							.body
								.name
									h3 #{userdata.name} #{userdata.lastname}
								.info
									ul
										li
											i.icon-location-arrow.icon-correct
											span.location_description 
												i.icon-spinner.icon-spin.icon-large 
												|   Loading...
					.span8
						.content_feed
							.header
								.spot_name
							.body
								#holder
								ul.spot_container
									li
										.spot_info
											i.icon-spinner.icon-spin.icon-large 
											|   Loading...
	.container-fluid.footer
		.row-fluid
			.span12.footer-bar
				include includes/footer


block head_include
	link(rel='stylesheet', type='text/css', href='/css/colorbox.css')

block script_include
	script(src='/js/lib/jquery.colorbox.min.js', type='text/javascript')
	script(src='/js/lib/handlebars.js', type='text/JavaScript')
	script(src='/js/lib/moment.min.js', type='text/JavaScript')
	script(type='text/javascript')
		$(document).ready(function($){
			setVariables({
				spot_url: '#{spot_url}',
				spot_id: '#{spot_id}',
				user_id: '#{user_id}',
				session_id: '#{session_id}'
			});
			_$local.getGeolocation();
		});
		window._$spot_url = '#{spot_url}';
		window._$spot_id  = '#{spot_id}';
		window._$user_id = '#{user_id}';
		window._$session_id = '#{session_id}';
		window._$local['ignore_geo'] = true;

	script(type='text/javascript', src='//maps.googleapis.com/maps/api/js?key=#{google_api_key}&sensor=false')
	script(type='text/javascript')
		function initialize(lat, lon) {
			var d_lat = #{geo().lat};
			var d_lon = #{geo().lon};
			if (lat && lon) {
				var d_lat = lat;
				var d_lon = lon;
			}
			var map = new google.maps.Map(
				document.getElementById('map-canvas'), {
				center: new google.maps.LatLng(d_lat, d_lon),
				zoom: 11,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			});
			// @todo make a custom method for adding these
			var marker = new google.maps.Marker({
				position: new google.maps.LatLng(d_lat, d_lon),
				center: new google.maps.LatLng(d_lat, d_lon),
				icon: 'http://www.google.com/intl/en_us/mapfiles/ms/micons/red-dot.png',
				map: map,
				html: $("#spotName").val()
			});
			// handler for loading local spots (relative to this one)
			map.loadSpots = function(lat, lon, html) {
				var that = this;
				var marker2 = new google.maps.Marker({
					position: new google.maps.LatLng(lat, lon),
					center: new google.maps.LatLng(lat, lon),
					animation: google.maps.Animation.DROP,
					icon: 'http://www.google.com/intl/en_us/mapfiles/ms/micons/blue-dot.png',
					map: _$local.map,
					html: html || "An error occured, unable to find spot name."
				});
				google.maps.event.addListener(marker2, 'click', function(){
					_$local.infowindow.setContent(this.html);
					_$local.infowindow.open(_$local.map, this);
				});
			}
			window._$local['infowindow'] = new google.maps.InfoWindow();
			window._$local['map'] = map;
			google.maps.event.addListener(marker, 'click', function(){
				_$local.infowindow.setContent(this.html);
				_$local.infowindow.open(_$local.map, this);
			});
			google.maps.event.addListener(map, 'click', function(event){
				var latlong = parseFloat(event.latLng.lat()).toFixed(4) + ", " + parseFloat(event.latLng.lng()).toFixed(4);
				var url = "//maps.googleapis.com/maps/api/geocode/json?latlng=" + event.latLng.lat() + "," + event.latLng.lng() + "&sensor=false";
				$.ajax({
					url: url,
					dataType: "json",
					beforeSend: function() {
						$(".search-query").val("Loading..");
					},
					success: function(data){
						var addy = data.results[1].formatted_address;
						$(".search-query").val(addy);
					},
					error: function() {
						$(".search-query").val("Something went wrong :( .. try again.");
					}
				});
				$(".latlon").text(latlong);
			});
		}

block scripts
	script(type='text/x-handlebars-template', id='spotcheckin-template')
		{{#if results}}
		{{#each results}}
		p {{profilePointer.name}} {{profilePointer.lastname}} was here {{createdFrom}}
		{{/each}}
		{{else}}
		p Nobody has been here yet. Let us know you're here!
		{{/if}}

	script(type='text/x-handlebars-template', id='spotweather-template')
		h4 Forecast
		.current
			h5.current_header
				| Currently:
			.current_weather
				i(class='{{ currently.icon }}')
				{{ currently.summary }} {{ currently.temperature }}&deg;F with wind speeds at {{ currently.windSpeed }} MPH.
				{{ hourly.summary }}
		.daily
			h5.daily_header
				| For the Day: 
			.daily_weather
				{{ daily.summary }}
		p
			{{details}}
		{{#if avghumidity}}
		h5 Avg Humidity: {{avghumidity}} %
		{{/if}}
		{{#if maxhumidity}}
		h5 Max Humidity: {{maxhumidity}} %
		{{/if}}
		{{#if maxwind}}
		h5 Max Wind: {{maxwind.degrees}} {{maxwind.dir}} {{maxwind.kph}} kph / {{maxwind.mph}} mph	
		{{/if}}

	script(type='text/x-handlebars-template', id='spotsview-commentphoto')
		{{#results }}
		a(href='{{ photo }}').gallery1 
			img(src='{{ photo }}').small64x.img-rounded
		{{/results }}

	script(type='text/x-handlebars-template', id='spotview-comment-template')
		ul.comments
		{{#comments}}
		li
			a(href='#') {{ poster_name }}
			| ({{time}}):
			| {{comment}}
		{{/comments}}
	script(type='text/x-handlebars-template', id='spotview-template')
		form(action='/spot/{{ spotId }}', id='saveSpot', method='post', enctype="multipart/form-data").form-horizontal.ajax-send
			input(type='hidden', name='spotName', id='spotName', value='{{ name }}')
			input(type='hidden', name='spotId', id='spotId', value='{{ spotId }}')
			div(id='spot-{{ spotId }}')
				div.control-group
					div.controls
						h3
						{{#ifCond belongsTo '#{session_id}'}}
						a.btn.btn-danger(href='/main/spots/edit/{{spotId}}') Edit Spot
						{{/ifCond}}
						span.spacer
						a.btn.btn-success.checkin I'm here! (Check-In)
						span.spacer
						{{#ifCond subscribed true}}
						a.btn.btn-warning(action='/subscribe/spot/{{spotId}}', data-attr='{{spotId}}', method='DELETE').subscribe.hidden Stop Watching
						{{else}}
						a.btn.btn-success(action='/subscribe/spot/{{spotId}}', data-attr='{{spotId}}', method='PUT').subscribe.hidden Watch
						{{/ifCond}}
				.control-group
					label.control-label(for='people-saying') People Are Saying							
					.controls
						.photos
							div(id='photos-loader')
								i.icon-spinner.icon-spin.icon-large 
								|   Loading...
					.controls
						p
						| What people have said:
						ul.comments
							li
								a(href='#') Kyle Jeske
								|  (June 4, 2013):
								| this was a killer spot 
					.controls
						.link-like.open-comments Add Comments or Photos
						.comment-add
							textarea(class='comments').span11
							p
							.btn.btn-success Add Comment
							| 
							.btn.btn-info(id='add-photo') Add Photo
				{{#if cover_image}}
				div.control-group
					div.controls
						img(src='{{cover_image}}').multiple-borders.preview_image_main
				{{/if}}
				div.control-group
					label.control-label(for='input_location') People NearBy
					div.controls
						.active_users
							i.icon-spinner.icon-spin.icon-large 
							|   Loading...
				div.control-group
					label.control-label(for='input_location') KitingScore
					div.controls
						div(id='kitegraph-{{ spotId }}-loader')
							i.icon-spinner.icon-spin.icon-large 
							|   Loading...
						div(id='kitegraph-{{ spotId }}').kitegraph
				div.control-group
					label.control-label(for='input_location') Current Weather Forecast
					div.controls
						.active_weather
							i.icon-spinner.icon-spin.icon-large 
							|   Loading...
				div.control-group
					label.control-label(for='input_description') Brief Description
					div.controls
						{{description}}
				div.control-group
					label.control-label Wind Directions
					div.controls
						h3.list 
							{{looper wind_directions ","}}
				div.control-group
					div.controls
						div.warning_msg
				div.control-group
					label.control-label(for='input_location') Location
					div.controls
						input(type='hidden', name='location', value='{{location.latitude}},{{location.longitude}}')
						input(type='hidden', name='lat', value='{{location.latitude}}')
						input(type='hidden', name='lon', value='{{location.longitude}}')
						p Lat.: {{location.latitude}}, Long.: {{location.longitude}}
						p
						div#map-canvas(style='height: 300px;') Loading map...
			script(type='text/javascript')
				$("#add-photo").live("click", function(){
					$("#uploadModalPhoto").modal("show");
				});
				$(".gallery1").colorbox({rel:'gallery1'});
				$(".header > .spot_name").html('{{ name }}');
				window._$winds = [];
				{{#each wind_directions}}
					window._$winds.push('{{this}}');
				{{/each}}
				function createUploader() {
					var uploader = new qq.FineUploader({
						element: document.getElementById('bootstrapped-photo-uploader'),
						request: {
							endpoint: '/spotmedia/photo?spot_id=' + _$spot_id + "&session_id=" + _$session_id
						},
						text: {
							uploadButton: '<div><i class="icon-upload icon-white"></i> Upload a Photo</div>'
						},
						template: '<div class="qq-uploader span12">' +
							'<pre class="qq-upload-drop-area span12"><span>{dragZoneText}</span></pre>' +
							'<div class="qq-upload-button btn btn-success" style="width: auto;">{uploadButtonText}</div>' +
							'<span class="qq-drop-processing"><span>{dropProcessingText}</span><span class="qq-drop-processing-spinner"></span></span>' +
							'<ul class="qq-upload-list" style="margin-top: 10px; text-align: center;"></ul>' +
							'</div>',
						callbacks: {
							onComplete: function(id, fileName, responseJson) {
								if (responseJson.success) {
									var obj = $("#spotsview-commentphoto");
									var source = obj.html();
									var template = Handlebars.compile(source);
									$(".photos").append(template(responseJson));
									$(".gallery1").colorbox({rel:'gallery1'});
								}
							}
						},
						classes: {
							success: 'alert alert-success',
							fail: 'alert alert-error'
						}
					});
				}
				createUploader();
