extends layout_single

block content_header

block page_center
	.span12.noisy
		.span2
		.span8
			.fluid-container
				h2.text-center Our Services
				hr.dashed
				.row-fluid
					.span12
						.icon_wrapper
							i.icon-code.icon-4x
							h3 Application Development
					.span12.hard-left
						| Have an app for a phone that needs developed? or just a web based app you want to be usable on all devices? We have you covered. We do both large and medium scale application development for all phones and devices (iOS, Android & Android Systems, Windows).
				hr.dashed
				.row-fluid
					.span12
						.icon_wrapper
							i.icon-beaker.icon-4x
						h3 Startup Business Incubation
					.span12.hard-left
						| We know how hard it is to start a technology company, especially without the right technology partner. This part of our business lends itself to allowing you to grow your business without the direct costs associated with software and application development. Drop us a line, we'd love to talk about your new business venture.
				hr.dashed
				.row-fluid
					.span12
						.icon_wrapper
							i.icon-terminal.icon-4x
						h3 Web Service & Custom Development
					.span12.hard-left
						| Have a service you want created or a custom one-off idea that you want devleoped? No problem. We do this sort of development all the time. We'd be happy to sit down and plan out your milestones and get you moving along.
				hr.dashed
				.row-fluid
					.span12
						.icon_wrapper
							i.icon-check.icon-4x
							h3 
								| IT Planning &amp; Migrations
					.span12.hard-left
						| Trying to figure out how to move off that legacy system? Trying to put together a proposal for your boss and not sure where to look, what technology is best or where to even start? We offer full service consulting for IT planning and migrations to and from platforms. 
				hr.dashed
				.row-fluid
					.span12
						.icon_wrapper
							i.icon-cloud.icon-4x
						h3 Service Integrations
					.span12.hard-left
						| We handle integrations into custom platforms, develop connectors from legacy systems into new cloud-based applications, and even implement (or develop custom) migration tools that allow you to re-purpose servers behind their original intent. We build integrations &amp; connectors into the most remote of systems.
				hr.dashed
				.row-fluid
					.span12
						h3.text-center 
							|If we seem like the right fit for your next project
							p
								| send us an <a href='mailto:sales@sparky.io'>email</a> (sales@sparky.io) or give us a call
								| <a id='__imgButtonClickToCall' href='#'  onclick="window.open('http://myaccount.onebox.com/SECURE/C2CWidget/ClickToConnectSession.aspx?key=875ab190-b32b-49d3-a8eb-fe657aa93865&evoice=1','','width=570,height=280, left=40, top=100, resizable=no,scroll=yes,status=no,titlebar=no,toolbar=no,addressbar=no,copyhistory=no,navigationtoolbar=no')"  style='cursor:pointer;border:none'><img  src='http://myaccount.onebox.com/SECURE/Images/ClickToCallWidget/SystemImages3_h.jpg' alt='Click to open call me page' id='__imgClickToCall' style='border:0px; border-radius: 10px;' /></a>

block content
